<mat-toolbar color="primary">
  <span>Crud Application</span>
  <span class="example-spacer"></span>
  <button mat-raised-button (click)="openAddEditEmpForm()">
    ADD EMPLOYEE
  </button>
</mat-toolbar>

<div class="main-body">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>

  <div class="table-container">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
        <td mat-cell *matCellDef="let row"> {{row.id}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name}} </td>
      </ng-container>
      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.company}} </td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
      </ng-container>
      <ng-container matColumnDef="birth">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date of birth </th>
        <td mat-cell *matCellDef="let row"> {{row.birth | date}} </td>
      </ng-container>
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender </th>
        <td mat-cell *matCellDef="let row"> {{row.gender}} </td>
      </ng-container>
      <ng-container matColumnDef="education">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Education </th>
        <td mat-cell *matCellDef="let row"> {{row.education}} </td>
      </ng-container>
      <ng-container matColumnDef="experience">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Experience </th>
        <td mat-cell *matCellDef="let row"> {{row.experience}} </td>
      </ng-container>
      <ng-container matColumnDef="salary">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary </th>
        <td mat-cell *matCellDef="let row"> {{row.salary | currency}} </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button>
            <mat-icon color="primary">edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteEmployee(row.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
  </div>
</div>